td {
	text-align: center;
	font-family: 'Fredoka One', cursive;
	color: transparent;
	background: transparent;

	font-size: 150%;
	letter-spacing: 0.2em;
	line-height: 1em;

	border-radius: 20%;
}

td.solved {
	color: white;

}

#canvasholder {
	text-align: center
}

canvas {
	margin: auto;
}

table {
	margin: auto;
	width: 100%;
	table-layout: fixed;
}

#level {
	text-align: center;
	font-size: 180%;
	font-family: 'Fredoka One', cursive;
	color: white;

	padding: 0.1em;
	background: #333a;
}

html {
	height: 100%;
}

#controlholder {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#controls {
	display: flex;
	flex-direction: row;
}

body {
	flex-direction: column;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0px;
}
